# DigiNext Bootcamp Project

In [1]:
import numpy as np
import pandas as pd
import matplotlib as matplot
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import TargetEncoder

In [2]:
df_products = pd.read_csv('BaSalam.products.csv')

/var/folders/rp/jsdh10cj68lf8yq9pr76clp80000gn/T/ipykernel_2021/1451024866.py:1: DtypeWarning: Columns (18,35,36,37,38,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df_products = pd.read_csv('BaSalam.products.csv')

In [3]:
df_products.head()

,_id,_score,sales_count_week,name,price,status_id,status_title,stock,photo_MEDIUM,photo_SMALL,...,vendor_owner_city,vendor_owner_id,isFreeShipping,IsAvailable,IsSaleable,mainAttribute,categoryTitle,published,video_ORIGINAL,promotions
0,9873883,468.75000,14,پسته فندقی خندان امسالی یک کیلویی تضمین کیفیت ...,5170000.0,2976.0,در دسترس,746.0,https://statics.basalam.com/public-17/users/Pe...,https://statics.basalam.com/public-17/users/Pe...,...,قاین,13052433.0,False,True,True,1000 گرم,میوه تازه,NaN,NaN,NaN
1,21808,466.66666,13,روغن زیتون فدک 1 لیتری مزرعه ارگانیک فدک سید ا...,6600000.0,2976.0,در دسترس,4.0,https://statics.basalam.com/public-3/users/J2/...,https://statics.basalam.com/public-3/users/J2/...,...,قم,20.0,False,True,True,900 گرم,روغن‌های خوراکی,True,https://basalam-com.arvanvod.ir/yOpvGE3e0D/x3Q...,NaN
2,10215970,464.28570,12,عناب درجه یک بیرجند یک کیلویی. تضمین کیفیت و ...,1360000.0,2976.0,در دسترس,813.0,https://statics.basalam.com/public-13/users/Pe...,https://statics.basalam.com/public-13/users/Pe...,...,قاین,13052433.0,False,True,True,1000 گرم,میوه تازه,NaN,NaN,NaN
3,11061637,461.53845,11,هل سبز اکبر بنفش50گرمی. سبز ودرشت وبسیار معطر,1054000.0,2976.0,در دسترس,1708.0,https://statics.basalam.com/public-14/users/ME...,https://statics.basalam.com/public-14/users/ME...,...,قاین,1145924.0,False,True,True,50 گرم,ادویه,NaN,NaN,NaN
4,10843522,461.53845,11,زرشک دانه اناری اعلا 1402(یک کیلویی).محصول تضم...,1830000.0,2976.0,در دسترس,1509.0,https://statics.basalam.com/public-16/users/LZ...,https://statics.basalam.com/public-16/users/LZ...,...,قاین,1246369.0,False,True,True,1000 گرم,میوه تازه,NaN,NaN,NaN

### DataCleaning

In [6]:
df_weight = df_products[['weight', 'mainAttribute']]
df_weight

         weight mainAttribute
0        1000.0      1000 گرم
1         900.0       900 گرم
2        1000.0      1000 گرم
3          50.0        50 گرم
4        1000.0      1000 گرم
...         ...           ...
2411353    25.0           NaN
2411354    40.0           NaN
2411355    30.0           NaN
2411356    10.0           NaN
2411357    15.0           NaN

[2411358 rows x 2 columns]

In [8]:
df_score = df_products[['_score', 'rating_average']]
df_score

            _score  rating_average
0        468.75000             4.7
1        466.66666             4.9
2        464.28570             5.0
3        461.53845             5.0
4        461.53845             4.9
...            ...             ...
2411353    0.00000             0.0
2411354    0.00000             0.0
2411355    0.00000             0.0
2411356    0.00000             0.0
2411357    0.00000             0.0

[2411358 rows x 2 columns]

In [9]:
df_status = df_products[['vendor_statusId', 'vendor_status_id','vendor_status_title']]
df_status

         vendor_statusId  vendor_status_id vendor_status_title
0                 2987.0            2987.0                فعال
1                 2987.0            2987.0                فعال
2                 2987.0            2987.0                فعال
3                 2987.0            2987.0                فعال
4                 2987.0            2987.0                فعال
...                  ...               ...                 ...
2411353           2987.0            2987.0                فعال
2411354           2987.0            2987.0                فعال
2411355           2987.0            2987.0                فعال
2411356           2987.0            2987.0                فعال
2411357           2987.0            2987.0                فعال

[2411358 rows x 3 columns]

In [10]:
df_cat = df_products[['categoryId', 'new_categoryId','categoryTitle']]
df_cat

         categoryId  new_categoryId              categoryTitle
0               0.0           191.0                  میوه تازه
1             160.0           154.0            روغن‌های خوراکی
2               0.0           191.0                  میوه تازه
3               0.0           133.0                      ادویه
4               0.0           191.0                  میوه تازه
...             ...             ...                        ...
2411353         0.0          1015.0  سایر لوازم الکتریکی همراه
2411354         0.0          1015.0  سایر لوازم الکتریکی همراه
2411355         0.0          1015.0  سایر لوازم الکتریکی همراه
2411356         0.0          1015.0  سایر لوازم الکتریکی همراه
2411357         NaN          1015.0  سایر لوازم الکتریکی همراه

[2411358 rows x 3 columns]

In [20]:
df_sale = df_products[['sales_count_week', 'IsSaleable', 'IsAvailable']]
df_sale

         sales_count_week IsSaleable IsAvailable
0                      14       True        True
1                      13       True        True
2                      12       True        True
3                      11       True        True
4                      11       True        True
...                   ...        ...         ...
2411353                 0       True        True
2411354                 0       True        True
2411355                 0       True        True
2411356                 0       True        True
2411357                 0       True        True

[2411358 rows x 3 columns]

In [12]:
df_products.columns

Index(['_id', '_score', 'sales_count_week', 'name', 'price', 'status_id',
       'status_title', 'stock', 'photo_MEDIUM', 'photo_SMALL',
       'rating_average', 'rating_count', 'rating_signals', 'primaryPrice',
       'preparationDays', 'weight', 'categoryId', 'has_delivery',
       'has_variation', 'new_categoryId', 'navigation_id', 'vendor_name',
       'vendor_identifier', 'vendor_statusId', 'vendor_freeShippingToIran',
       'vendor_freeShippingToSameCity', 'vendor_cityId', 'vendor_provinceId',
       'vendor_has_delivery', 'vendor_score', 'vendor_id', 'vendor_status_id',
       'vendor_status_title', 'vendor_owner_city', 'vendor_owner_id',
       'isFreeShipping', 'IsAvailable', 'IsSaleable', 'mainAttribute',
       'categoryTitle', 'published', 'video_ORIGINAL', 'promotions'],
      dtype='object')

In [13]:
df_products_light = df_products.drop(['promotions','video_ORIGINAL','published','IsSaleable','photo_SMALL', 'rating_signals','mainAttribute','categoryId', 'navigation_id','vendor_statusId', 'vendor_status_id',  'vendor_status_title'], axis=1)

In [17]:
df_products_light = df_products_light.drop(['status_title'], axis=1)

In [21]:
df_products_light = df_products_light.drop(['IsAvailable'], axis=1)

In [22]:
df_products_light.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2411358 entries, 0 to 2411357
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   _id                            int64
 1   _score                         float64
 2   sales_count_week               int64
 3   name                           object
 4   price                          float64
 5   status_id                      float64
 6   stock                          float64
 7   photo_MEDIUM                   object
 8   rating_average                 float64
 9   rating_count                   float64
 10  primaryPrice                   float64
 11  preparationDays                float64
 12  weight                         float64
 13  has_delivery                   object
 14  has_variation                  object
 15  new_categoryId                 float64
 16  vendor_name                    object
 17  vendor_identifier              object
 18  vendor_freeShippingToIran      float64
 19  vendor_freeShippingToSameCity  float64
 20  vendor_cityId                  float64
 21  vendor_provinceId              float64
 22  vendor_has_delivery            object
 23  vendor_score                   float64
 24  vendor_id                      float64
 25  vendor_owner_city              object
 26  vendor_owner_id                float64
 27  isFreeShipping                 object
 28  categoryTitle                  object
dtypes: float64(17), int64(2), object(10)
memory usage: 533.5+ MB

In [25]:
df_products_light.head()

,_id,_score,sales_count_week,name,price,status_id,stock,photo_MEDIUM,rating_average,rating_count,...,vendor_freeShippingToSameCity,vendor_cityId,vendor_provinceId,vendor_has_delivery,vendor_score,vendor_id,vendor_owner_city,vendor_owner_id,isFreeShipping,categoryTitle
0,9873883,468.75000,14,پسته فندقی خندان امسالی یک کیلویی تضمین کیفیت ...,5170000.0,2976.0,746.0,https://statics.basalam.com/public-17/users/Pe...,4.7,80.0,...,2970000.0,2143.0,12.0,True,0.0,783928.0,قاین,13052433.0,False,میوه تازه
1,21808,466.66666,13,روغن زیتون فدک 1 لیتری مزرعه ارگانیک فدک سید ا...,6600000.0,2976.0,4.0,https://statics.basalam.com/public-3/users/J2/...,4.9,1480.0,...,NaN,2531.0,21.0,True,1.0,15.0,قم,20.0,False,روغن‌های خوراکی
2,10215970,464.28570,12,عناب درجه یک بیرجند یک کیلویی. تضمین کیفیت و ...,1360000.0,2976.0,813.0,https://statics.basalam.com/public-13/users/Pe...,5.0,41.0,...,2970000.0,2143.0,12.0,True,0.0,783928.0,قاین,13052433.0,False,میوه تازه
3,11061637,461.53845,11,هل سبز اکبر بنفش50گرمی. سبز ودرشت وبسیار معطر,1054000.0,2976.0,1708.0,https://statics.basalam.com/public-14/users/ME...,5.0,8.0,...,37000.0,2143.0,12.0,True,1.0,369193.0,قاین,1145924.0,False,ادویه
4,10843522,461.53845,11,زرشک دانه اناری اعلا 1402(یک کیلویی).محصول تضم...,1830000.0,2976.0,1509.0,https://statics.basalam.com/public-16/users/LZ...,4.9,34.0,...,5470000.0,2143.0,12.0,True,1.0,814012.0,قاین,1246369.0,False,میوه تازه